ssh_info:
  user: vagrant

proxy_info:
  use_proxy: no
  http_proxy: http://<proxy>:<port>/
  https_proxy: http://<proxy>:<port>/
  no_proxy: localhost,172.28.128.20,172.28.128.21,172.28.128.22,172.28.128.23

k8s_info:
  version: v1.4.4
  token: feb8f9.235133303fa01dff
  network_adapter_url: https://git.io/weave-kube

machines:
  use_vagrant: yes
  # TODO: add support for multiple masters
  master:
    name: master
    ip: 172.28.128.20
  workers:
  - name: worker1
    ip: 172.28.128.21
  - name: worker2
    ip: 172.28.128.22
  - name: worker3
    ip: 172.28.128.23
